:root {
    font-size: 62.5%; /* 1rem = 10px */
    --font-main: 'Exo', 'Red Hat Display', sans-serif;

    --primary-color-dark-shade: #0c192c;
    --primary-color-medium-shade: #15253f;
    --primary-color-light-shade: #192f50;

    --secondary-color-dark-shade: #396F80;
    --secondary-color-medium-shade: #5DC8E8;
    --secondary-color-light-shade: #72deff;
    --secondary-color-light-neon: #38F0FF;

    --tertiary-color-dark-shade: #000;
    --tertiary-color-medium-shade: #888888;
    --tertiary-color-light-shade: #fff;

    --complementary-color: #CA59FF;
}

body {
    font-family: var(--font-main);
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: var(--secondary-color-light-neon);
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 4.88rem;
    line-height: 1.6;
    font-weight: bold;
}

h2 {
    font-size: 3.90rem;
    line-height: 1.6;
    font-weight: bold;
}

h3 {
    font-size: 3.12rem;
    line-height: 1.6;
    font-weight: bold;
}

h4 {
    font-size: 2.50rem;
    line-height: 1.6;
    font-weight: bold;
}

h5 {
    font-size: 2rem;
    line-height: 1.6;
    font-weight: bold;
}

h6 {
    font-size: 1.85rem;
    line-height: 1.6;
    font-weight: bold;
}


p {
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 400;
}

a{
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: bold;
    text-decoration: none;
    color: var(--complementary-color);
}

em{
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 400;
    font-style: italic;
}

strong {
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: bold;
}

small {
    font-size: 1.02rem;
    line-height: 1.6;
    font-weight: 400;
}

u {
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 400;
    text-decoration: underline;
}

blockquote {
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 400;
    display: block;
    padding-left: 1rem;
    border-left: 0.5rem solid var(--complementary-color);
}

ul li {
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 400;
    list-style: disc inside;
}

ol li {
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 400;
    list-style: decimal inside;
}